img{
    height: 100px;
    width: 100px;
}

.content {

    margin-left: 500px;
}

p{
    font-size:15px;
    color: gold;
    font-weight: bold;
}

body{
    background-image: url(https://previews.123rf.com/images/karenr/karenr0901/karenr090100038/4090196-starfish-sitting-on-sand-background-starfish-border.jpg);
    font-size:15px;
    color: gold;
    font-weight: bold;
}



.bb{
    background-color: coral;
    opacity: .5;
}

